html {
    overscroll-behavior: none;
}

body {
    height: 250vh;
    position: relative;
    margin: 0;
    background-color: #0e100f;
}

p {
    position: absolute;
    top: 40vh;
    color: #fffce1;
    text-align: center;
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: color-dodge;
    background-image: url("https://assets.codepen.io/16327/noise.png");
}

#footer-img {
    height: 100%;
    width: 100%;
    display: block;
    overflow: visible;
}

#center {
    visibility: hidden;
}